@import '../../scss/colors.scss';
@import '../../scss/mixin.scss';

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $modal-bg-color;
  z-index: 2;
  opacity: 0;
  -webkit-transition: opacity 200ms ease-in;
  -moz-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
  pointer-events: none;
  margin: 0;
  padding: 0;

  &-main {
    position: fixed;
    background: $white-color;
    width: 80%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &-active {
    opacity: 1;
    pointer-events: auto;
    overflow-y: auto;
    z-index: 100;
  }

  &:target {
    opacity: 1;
    pointer-events: auto;
    overflow-y: auto;
  }

  &_dialog {
    position: relative;
    width: auto;
    margin: 10px;
  }

  &-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: $white-color;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
  }

  &-header {
    @include flexible();
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
    color: $white-color;
    background: $header-footer-bg-color;
  }

  &-header__title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
  }

  &-body {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;

    &__titles-wallet {
      @include flexible();
      color: $blue-color;
      justify-content: space-around;

      &-name {
        width: 27%;
      }
      &-amount {
        width: 25%;
      }
      &-total-price {
        width: 25%;
        text-align: left;
      }
    }
  }
}

.display-none {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $modal-bg-color;
  -webkit-transition: opacity 200ms ease-in;
  -moz-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
  pointer-events: none;
  margin: 0;
  padding: 0;
}

.close {
  float: right;
  font-family: sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  color: $black-color;
  text-shadow: 0 1px 0 $white-color;
  opacity: .5;
  text-decoration: none;

  &:focus, &:hover{
    color: $black-color;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
  } 
}
