table {
  margin-top: 50px;
  font-size: 16px;
  background: white;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

th {
  padding: 10px 8px;
  text-align: center;
  font-weight: normal;
  color: #039;
  border-bottom: 2px solid #6678b1;
}

th:nth-child(1) {
  width: 3%;
}

th:nth-child(2) {
  width: 10%;
}

th:nth-child(3) {
  width: 20%;
}

td {
  padding: 9px 8px;
  border-bottom: 1px solid #ccc;
  color: rgb(52, 52, 80);
  text-align: center;
  font-weight: 300;
  transition: .2s linear;
}

$blue:#6699ff;

tr {
  cursor: pointer;
}

tr:hover td:not(:last-child) {
  color: $blue;
}

.crypto-add {
  font-size: 20px;
  font-weight: 400px;
  transition: all .2s;
}

.crypto-add:hover {
  transform: scale(1.1);
  color: $blue;
}

.fa-plus {
  border: 1px solid $blue;
  padding: 3px;
  border-radius: 3px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-item {
  color: #000;
  border: 3px;
}

.page-link {
  float: left;
  padding: 8px 16px;
  border: 1px solid #ddd;
  transition: all .2s;
  cursor: pointer;
}

.active {
  color: #fff;
  background-color: $blue;
}

.page-link:hover:not(.active) {
  background-color: #ddd;
}


a {
  text-decoration: none;
}

li {
  list-style-type: none;
  /* Убираем маркеры */
}

ul {
  margin-left: 0;
  /* Отступ слева в браузере IE и Opera */
  padding-left: 0;
  /* Отступ слева в браузере Firefox, Safari, Chrome */
}