$blue:#6699ff;

table {
  margin: 50px 0px;
  font-size: 16px;
  background: white;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

th {
  padding: 10px 8px;
  text-align: center;
  font-weight: normal;
  color: #039;
  border-bottom: 2px solid #6678b1;
}

th:nth-child(1) {
  width: 3%;
}

th:nth-child(2) {
  width: 10%;
}

th:nth-child(3) {
  width: 20%;
}

td {
  padding: 9px 8px;
  border-bottom: 1px solid #ccc;
  color: rgb(52, 52, 80);
  text-align: center;
  font-weight: 300;
  transition: .2s linear;
}

tr {
  cursor: pointer;
}

table tr td a {
  display:block;
  height:100%;
  width:100%;
  text-decoration: none;
  color: #343450;
}

table tr td {
  padding-left: 0;
  padding-right: 0;
}

tr:hover a, td:not(:last-child) {
  color: $blue;
}

/*плюс*/
.crypto-add {
  font-size: 20px;
  font-weight: 400px;
  transition: all .2s;
}

.crypto-add:hover {
  transform: scale(1.1);
}

.crypto-add a {
  color: #343450;
  transition: all .2s;
}

.crypto-add a:hover {
  color: $blue;
}

.fa-plus {
  border: 1px solid $blue;
  padding: 3px;
  border-radius: 3px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-item {
  color: #000;
  border: 3px;
}

.page-link {
  float: left;
  padding: 8px 16px;
  border: 1px solid #ddd;
  transition: all .2s;
  cursor: pointer;
}

.active {
  color: #fff;
  background-color: $blue;
}

.page-link:hover:not(.active) {
  background-color: #ddd;
}


@media screen and (max-width: 900px) {
  .crypto-add {
    font-size: 18px;
  }

  th:nth-child(4),
  th:nth-child(5),
  td:nth-child(4),
  td:nth-child(5) {
    display: none;
  }
}


@media screen and (max-width: 650px) {
  .crypto-add {
    font-size: 18px;
  }

  table {
    margin: 20px 0;
  }

  th:nth-child(6),
  th:nth-child(7),
  td:nth-child(6),
  td:nth-child(7) {
    display: none;
  }

  th:nth-child(3),
  th:nth-child(4),
  th:nth-child(1) {
    width: auto;
  }

}

@media screen and (max-width: 450px) {
  .crypto-add {
    font-size: 16px;
  }

  th:nth-child(8),
  td:nth-child(8) {
    display: none;
  }


}