@import '../../scss/colors.scss';
@import '../../scss/mixin.scss';


.modal-body__titles {
  @include flexible();
  color: $blue-color;
  justify-content: space-around;

  &-name, &-amount, &-total-price {
    width: 30%
  }

  &-amount{
    text-align: center;
  }

  &-total-price {
    text-align: right;
  }
}

.modal-body__item {
  @include flexible();
  justify-content: space-around;
  margin-bottom: 15px;

  &-name {
    width: 30%;
  }

  &-total-price {
    width: 30%;
    text-align: right;
  }

  &-amount-warning {
    border: 1px solid red;
  }
}

.modal-footer__btn {
  width: 178px;
  max-width: 100%;
  padding: 10px 15px;
  border-radius: 5px;
  border: 0;
  font-size: 16px;
  text-align: center;
  color: $white-color;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  background-color: $dark-blue;
  text-transform: uppercase;
  cursor: pointer;
  transition: color .2s, background .2s, opacity .2s;

  &-container {
    @include flexible();
    justify-content: center;
    padding: 15px;
  }

  &:hover {
    background: $blue-color;
  }
}


@media (min-width: 768px) {
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    box-shadow: 0 5px 15px $modal-bg-color;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 30px auto;
  }
}