@import '../../../scss/colors.scss';
@import '../../../scss/mixin.scss';

table {
  margin: 50px 0px;
  font-size: 16px;
  background: $white-color;
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  box-shadow: 0px 0px 20px 7px #cacaca;
}

th {
  padding: 10px 8px;
  text-align: center;
  font-weight: normal;
  color: $dark-blue;
  border-bottom: 2px solid #6678b1;

  &:nth-child(1) {
    width: 3%;
  }

  &:nth-child(2) {
    width: 10%;
  }

  &:nth-child(3) {
    width: 20%;
  }
}

tr {
  cursor: pointer;

  &:hover {
    td:not(:last-child) {
      color: $blue-color;
    }
  }
}

td {
  padding: 9px 0;
  border-bottom: 1px solid #ccc;
  color: rgb(52, 52, 80);
  text-align: center;
  font-weight: 300;
  transition: .2s linear;
}

td a {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #343450;
}

/*плюс*/
.crypto-add {
  padding-right: 8px;
  font-size: 20px;
  transition: all linear .2s;

  &:hover {
    transform: scale(1.1);
  }
}

.crypto-add a {
  color: #343450;

  &:hover {
    color: $blue-color;
  }
}

.fa-plus {
  border: 1px solid $blue-color;
  padding: 3px;
  border-radius: 3px;
}

.pagination {
  @include flexible();
  justify-content: center;
}

.page-item {
  color: $black-color;
  border: 3px;
}

.page-link {
  float: left;
  padding: 8px 16px;
  border: 1px solid #ddd;
  transition: all .2s;
  cursor: pointer;
}

.active {
  color: $white-color;
  background-color: $blue-color;
}

.page-link:hover:not(.active) {
  background-color: #ddd;
}

//for stories

.false {
  visibility: hidden;
}

.true {
  visibility: inherit;
}

.hover-table-row {
  color: $blue-color;
}

@media screen and (max-width: 900px) {
  .crypto-add {
    font-size: 18px;
  }

  th {
    &:nth-child(4) {
      display: none;
    }

    &:nth-child(5) {
      display: none;
    }
  }

  td {
    &:nth-child(4) {
      display: none;
    }

    &:nth-child(5) {
      display: none;
    }
  }
}


@media screen and (max-width: 650px) {
  .crypto-add {
    font-size: 18px;
  }

  table {
    margin: 20px 0;

    th {

      &:nth-child(2) {
        width: auto;
      }

      &:nth-child(3) {
        width: auto;
      }

    }
  }

  th {

    &:nth-child(6) {
      display: none;
    }

    &:nth-child(7) {
      display: none;
    }

  }

  td {
    &:nth-child(6) {
      display: none;
    }

    &:nth-child(7) {
      display: none;
    }
  }
}

@media screen and (max-width: 450px) {
  .crypto-add {
    font-size: 16px;
  }

  table {
    th {

      &:nth-child(2) {
        width: 10%;
      }
    }
  }

  th:nth-child(8),
  td:nth-child(8) {
    display: none;
  }
}