@import '../../scss/colors.scss';
@import '../../scss/mixin.scss';

.footer {
  padding: 15px;
  background:
    $header-footer-bg-color;
}

.creator-block {
  @include flexible();
  justify-content: space-around;
  color: $white-color;

  &__github {
    width: 90px;
    text-align: center;
    border-bottom: 3px solid transparent;
    transition: all .3s;

    &:hover {
      border-bottom: 3px solid $white-color;
    }
  }
}

.github-link {
  color: $white-color;
}
