@import '../scss/colors.scss';
@import '../scss/mixin.scss';

.header {
  width: 100%;
  padding: 15px 10px;
  background: $header-footer-bg-color;
}

.container__inner {
  @include flexible();
  justify-content: space-between;
  font-size: 18px;
  color: $white-color;
}

.logo img {
  width: 80px;
  max-width: 100%;
  cursor: pointer;
}

.top-coins {
  @include flexible();

  &__item {
    @include flexible();
    margin-right: 20px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: all .2s;

    &-name {
      padding-right: 5px;
    }

    &:hover {
      border-bottom: 2px solid $white-color;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.user-wallet-info {
  @include flexible();
  cursor: pointer;

  &:hover {
    .fa-briefcase {
      color: #adffc5;
      transform: scale(1.1);
    }
  }
}

.user-wallet__different-cost {
  margin: 0 10px;
}

.fa-briefcase {
  @include flexible();
  font-size: 20px;
  margin-left: 10px;
  transition: all .2s;
}

@media screen and (max-width: 800px) {
  .container__inner {
    font-size: 16px;
  }
}

@media screen and (max-width: 800px) {
  .top-coins {
    display: none;
  }
}