$blue-color: #6699ff;
$dark-blue: #039;
$white-color: #fff;
$black-color:#000;
$modal-bg-color:rgba(0, 0, 0, 0.5);
$header-footer-bg-color: linear-gradient(90deg, rgba(59, 58, 153, 0.958420868347339) 18%, rgba(2, 0, 176, 0.958420868347339) 53%, rgba(120, 198, 191, 0.8099614845938375) 100%);