@import '../../scss/colors.scss';
@import '../../scss/mixin.scss';

.modal {
  &__item {
    @include flexible();
    justify-content: space-between;
    margin-top: 15px;
  }
}

.crypto-minus {
  font-size: 20px;
  font-weight: 400px;
  transition: all .2s;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
    color: $blue-color;
  }
}

.fa-minus {
  border: 1px solid $blue-color;
  padding: 3px;
  border-radius: 3px;
}